<% include ../partials/header %>
    <% include ../partials/navigation %>
    <% include ../partials/outputMessage %>
        <section role="region" class="container js-coupon-section">
            <div class="coupon-add-nav">
                <button type="button" class="btn btn-primary js-add-new-coupon-btn" data-toggle="modal" data-target="#addNewCouponModal">
                    <span class="icon-budicon-classic-1" aria-hidden="true">Add a new coupon</span>
                </button>
            </div>

            <header role="banner">
                <h1 class="header-title">Your Coupons</h1>
            </header>

            <section role="region" class="list-coupons-section" id="js-list-coupons-section">
                <% coupons.forEach(function (coupon) { %>
                    <section role="region" class="coupon-container js-coupon-container" data-id="<%= coupon._id %>">
                        <div class="coupon-actions-nav">
                            <button type="button" class="btn-transparent edit-btn js-edit-coupon-btn " data-toggle="modal" data-target="#editCouponModal">
                              <span class="icons icon-budicon-classic js-edit-icon" alt="edit-icon"></span>
                            </button>
                            <button type="button" class="btn-transparent" >
                              <span class="icons icon-budicon-classic-2 js-delete-icon" alt="delete-icon"></span>
                            </button>
                        </div>
                        <h2 class="coupon-merchant-name"><%= coupon.merchantName %></h2>
                        <p class="coupon-code js-coupon-code"><%= coupon.code %></p>
                        <p class="coupon-expiration-date"><%= coupon.expirationDate %></p>
                        <p class="coupon-description"><%= coupon.description %></p>
                    </section>
                    <% }) %>
            </section>

            <section role="region" id="addNewCouponModelSection">
                <!-- Add modal will render here -->
            </section>
            <section role="region" id="editCouponModelSection">
                <!-- Edit modal will render here -->
            </section>
        </section>
      <script src="/javascripts/index.js"></script>
      <script src="javascripts/coupon.js"></script>
<% include ../partials/footer %>
